<h1>Hello <%= @user %></h1>
<%= link_to 'Secret Link', "https://i.pinimg.com/originals/05/dc/ff/05dcffccdda03ca3d196dbac170c3823.jpg", target: "_blank" %>
<%= link_to 'Logout', logout_path, method: "delete" %>